* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/.jsdtscope -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/edu/uiowa/slis/viva/Demo.java -text
src/main/resources/README.txt -text
src/main/webapp/AbbreviatedTitle/AbbreviatedTitle.jsp -text
src/main/webapp/AbbreviatedTitle/AbbreviatedTitleList.jsp -text
src/main/webapp/AcademicDegree/AcademicDegree.jsp -text
src/main/webapp/AcademicDegree/AcademicDegreeList.jsp -text
src/main/webapp/Agent/Agent.jsp -text
src/main/webapp/Agent/AgentList.jsp -text
src/main/webapp/Annotation/Annotation.jsp -text
src/main/webapp/Annotation/AnnotationList.jsp -text
src/main/webapp/Ansi/Ansi.jsp -text
src/main/webapp/Ansi/AnsiList.jsp -text
src/main/webapp/Audience/Audience.jsp -text
src/main/webapp/Audience/AudienceList.jsp -text
src/main/webapp/Audio/Audio.jsp -text
src/main/webapp/Audio/AudioList.jsp -text
src/main/webapp/AuthorContribution/AuthorContribution.jsp -text
src/main/webapp/AuthorContribution/AuthorContributionList.jsp -text
src/main/webapp/Authority/Authority.jsp -text
src/main/webapp/Authority/AuthorityList.jsp -text
src/main/webapp/Authority/altAuthority.jsp -text
src/main/webapp/Award/Award.jsp -text
src/main/webapp/Award/AwardList.jsp -text
src/main/webapp/AwardReceipt/AwardReceipt.jsp -text
src/main/webapp/AwardReceipt/AwardReceiptList.jsp -text
src/main/webapp/Barcode/Barcode.jsp -text
src/main/webapp/Barcode/BarcodeList.jsp -text
src/main/webapp/BinderTitle/BinderTitle.jsp -text
src/main/webapp/BinderTitle/BinderTitleList.jsp -text
src/main/webapp/CaptionTitle/CaptionTitle.jsp -text
src/main/webapp/CaptionTitle/CaptionTitleList.jsp -text
src/main/webapp/Cartography/Cartography.jsp -text
src/main/webapp/Cartography/CartographyList.jsp -text
src/main/webapp/CirculationStatus/CirculationStatus.jsp -text
src/main/webapp/CirculationStatus/CirculationStatusList.jsp -text
src/main/webapp/Classification/Classification.jsp -text
src/main/webapp/Classification/ClassificationList.jsp -text
src/main/webapp/Coden/Coden.jsp -text
src/main/webapp/Coden/CodenList.jsp -text
src/main/webapp/Collection/Collection.jsp -text
src/main/webapp/Collection/CollectionList.jsp -text
src/main/webapp/ComposerContribution/ComposerContribution.jsp -text
src/main/webapp/ComposerContribution/ComposerContributionList.jsp -text
src/main/webapp/Concept/Concept.jsp -text
src/main/webapp/Concept/ConceptList.jsp -text
src/main/webapp/ConceptScheme/ConceptScheme.jsp -text
src/main/webapp/ConceptScheme/ConceptSchemeList.jsp -text
src/main/webapp/ConciseTitle/ConciseTitle.jsp -text
src/main/webapp/ConciseTitle/ConciseTitleList.jsp -text
src/main/webapp/ConductorContribution/ConductorContribution.jsp -text
src/main/webapp/ConductorContribution/ConductorContributionList.jsp -text
src/main/webapp/Conference/Conference.jsp -text
src/main/webapp/Conference/ConferenceList.jsp -text
src/main/webapp/ContainerTitle/ContainerTitle.jsp -text
src/main/webapp/ContainerTitle/ContainerTitleList.jsp -text
src/main/webapp/Content/Content.jsp -text
src/main/webapp/Content/ContentList.jsp -text
src/main/webapp/ContentAsText/ContentAsText.jsp -text
src/main/webapp/ContentAsText/ContentAsTextList.jsp -text
src/main/webapp/ContinuingResource/ContinuingResource.jsp -text
src/main/webapp/ContinuingResource/ContinuingResourceList.jsp -text
src/main/webapp/Contribution/Contribution.jsp -text
src/main/webapp/Contribution/ContributionList.jsp -text
src/main/webapp/CoverTitle/CoverTitle.jsp -text
src/main/webapp/CoverTitle/CoverTitleList.jsp -text
src/main/webapp/CreatorContribution/CreatorContribution.jsp -text
src/main/webapp/CreatorContribution/CreatorContributionList.jsp -text
src/main/webapp/Dataset/Dataset.jsp -text
src/main/webapp/Dataset/DatasetList.jsp -text
src/main/webapp/DdcClassification/DdcClassification.jsp -text
src/main/webapp/DdcClassification/DdcClassificationList.jsp -text
src/main/webapp/DdcShelfMark/DdcShelfMark.jsp -text
src/main/webapp/DdcShelfMark/DdcShelfMarkList.jsp -text
src/main/webapp/Dissertation/Dissertation.jsp -text
src/main/webapp/Dissertation/DissertationList.jsp -text
src/main/webapp/DissertationIdentifier/DissertationIdentifier.jsp -text
src/main/webapp/DissertationIdentifier/DissertationIdentifierList.jsp -text
src/main/webapp/DistinctiveTitle/DistinctiveTitle.jsp -text
src/main/webapp/DistinctiveTitle/DistinctiveTitleList.jsp -text
src/main/webapp/DistributorProvision/DistributorProvision.jsp -text
src/main/webapp/DistributorProvision/DistributorProvisionList.jsp -text
src/main/webapp/Doi/Doi.jsp -text
src/main/webapp/Doi/DoiList.jsp -text
src/main/webapp/Ean/Ean.jsp -text
src/main/webapp/Ean/EanList.jsp -text
src/main/webapp/EditorContribution/EditorContribution.jsp -text
src/main/webapp/EditorContribution/EditorContributionList.jsp -text
src/main/webapp/Electronic/Electronic.jsp -text
src/main/webapp/Electronic/ElectronicList.jsp -text
src/main/webapp/Event/Event.jsp -text
src/main/webapp/Event/EventList.jsp -text
src/main/webapp/Family/Family.jsp -text
src/main/webapp/Family/FamilyList.jsp -text
src/main/webapp/Fingerprint/Fingerprint.jsp -text
src/main/webapp/Fingerprint/FingerprintList.jsp -text
src/main/webapp/FiniteResource/FiniteResource.jsp -text
src/main/webapp/FiniteResource/FiniteResourceList.jsp -text
src/main/webapp/GovernmentOrganization/GovernmentOrganization.jsp -text
src/main/webapp/GovernmentOrganization/GovernmentOrganizationList.jsp -text
src/main/webapp/Hdl/Hdl.jsp -text
src/main/webapp/Hdl/HdlList.jsp -text
src/main/webapp/Identifier/Identifier.jsp -text
src/main/webapp/Identifier/IdentifierList.jsp -text
src/main/webapp/Index/Index.jsp -text
src/main/webapp/Index/IndexList.jsp -text
src/main/webapp/Instance/Instance.jsp -text
src/main/webapp/Instance/InstanceList.jsp -text
src/main/webapp/Instance/altInstance.jsp -text
src/main/webapp/IntegratingResource/IntegratingResource.jsp -text
src/main/webapp/IntegratingResource/IntegratingResourceList.jsp -text
src/main/webapp/Isan/Isan.jsp -text
src/main/webapp/Isan/IsanList.jsp -text
src/main/webapp/Isbn/Isbn.jsp -text
src/main/webapp/Isbn/IsbnList.jsp -text
src/main/webapp/Isbn10/Isbn10.jsp -text
src/main/webapp/Isbn10/Isbn10List.jsp -text
src/main/webapp/Isbn13/Isbn13.jsp -text
src/main/webapp/Isbn13/Isbn13List.jsp -text
src/main/webapp/Ismn/Ismn.jsp -text
src/main/webapp/Ismn/IsmnList.jsp -text
src/main/webapp/Iso/Iso.jsp -text
src/main/webapp/Iso/IsoList.jsp -text
src/main/webapp/Isrc/Isrc.jsp -text
src/main/webapp/Isrc/IsrcList.jsp -text
src/main/webapp/Issn/Issn.jsp -text
src/main/webapp/Issn/IssnList.jsp -text
src/main/webapp/IssnL/IssnL.jsp -text
src/main/webapp/IssnL/IssnLList.jsp -text
src/main/webapp/IssueNumber/IssueNumber.jsp -text
src/main/webapp/IssueNumber/IssueNumberList.jsp -text
src/main/webapp/Istc/Istc.jsp -text
src/main/webapp/Istc/IstcList.jsp -text
src/main/webapp/Iswc/Iswc.jsp -text
src/main/webapp/Iswc/IswcList.jsp -text
src/main/webapp/Item/Item.jsp -text
src/main/webapp/Item/ItemList.jsp -text
src/main/webapp/Item/altItem.jsp -text
src/main/webapp/Journal/Journal.jsp -text
src/main/webapp/Journal/JournalList.jsp -text
src/main/webapp/KeyTitle/KeyTitle.jsp -text
src/main/webapp/KeyTitle/KeyTitleList.jsp -text
src/main/webapp/Language/Language.jsp -text
src/main/webapp/Language/LanguageList.jsp -text
src/main/webapp/LcOverseasAcqNumber/LcOverseasAcqNumber.jsp -text
src/main/webapp/LcOverseasAcqNumber/LcOverseasAcqNumberList.jsp -text
src/main/webapp/LccClassification/LccClassification.jsp -text
src/main/webapp/LccClassification/LccClassificationList.jsp -text
src/main/webapp/LccShelfMark/LccShelfMark.jsp -text
src/main/webapp/LccShelfMark/LccShelfMarkList.jsp -text
src/main/webapp/Lccn/Lccn.jsp -text
src/main/webapp/Lccn/LccnList.jsp -text
src/main/webapp/LegalDepositNumber/LegalDepositNumber.jsp -text
src/main/webapp/LegalDepositNumber/LegalDepositNumberList.jsp -text
src/main/webapp/LinguisticSystem/LinguisticSystem.jsp -text
src/main/webapp/LinguisticSystem/LinguisticSystemList.jsp -text
src/main/webapp/Lingvo/Lingvo.jsp -text
src/main/webapp/Lingvo/LingvoList.jsp -text
src/main/webapp/LocalIlsIdentifer/LocalIlsIdentifer.jsp -text
src/main/webapp/LocalIlsIdentifer/LocalIlsIdentiferList.jsp -text
src/main/webapp/Location/Location.jsp -text
src/main/webapp/Location/LocationList.jsp -text
src/main/webapp/Magazine/Magazine.jsp -text
src/main/webapp/Magazine/MagazineList.jsp -text
src/main/webapp/MainTitleElement/MainTitleElement.jsp -text
src/main/webapp/MainTitleElement/MainTitleElementList.jsp -text
src/main/webapp/ManufacturerProvision/ManufacturerProvision.jsp -text
src/main/webapp/ManufacturerProvision/ManufacturerProvisionList.jsp -text
src/main/webapp/Manuscript/Manuscript.jsp -text
src/main/webapp/Manuscript/ManuscriptList.jsp -text
src/main/webapp/MatrixNumber/MatrixNumber.jsp -text
src/main/webapp/MatrixNumber/MatrixNumberList.jsp -text
src/main/webapp/Meeting/Meeting.jsp -text
src/main/webapp/Meeting/MeetingList.jsp -text
src/main/webapp/Monograph/Monograph.jsp -text
src/main/webapp/Monograph/MonographList.jsp -text
src/main/webapp/Motivation/Motivation.jsp -text
src/main/webapp/Motivation/MotivationList.jsp -text
src/main/webapp/MovingImage/MovingImage.jsp -text
src/main/webapp/MovingImage/MovingImageList.jsp -text
src/main/webapp/Multimedia/Multimedia.jsp -text
src/main/webapp/Multimedia/MultimediaList.jsp -text
src/main/webapp/MultipartMonograph/MultipartMonograph.jsp -text
src/main/webapp/MultipartMonograph/MultipartMonographList.jsp -text
src/main/webapp/MusicPlateNumber/MusicPlateNumber.jsp -text
src/main/webapp/MusicPlateNumber/MusicPlateNumberList.jsp -text
src/main/webapp/MusicPublisherNumber/MusicPublisherNumber.jsp -text
src/main/webapp/MusicPublisherNumber/MusicPublisherNumberList.jsp -text
src/main/webapp/NarratorContribution/NarratorContribution.jsp -text
src/main/webapp/NarratorContribution/NarratorContributionList.jsp -text
src/main/webapp/Nban/Nban.jsp -text
src/main/webapp/Nban/NbanList.jsp -text
src/main/webapp/Nbn/Nbn.jsp -text
src/main/webapp/Nbn/NbnList.jsp -text
src/main/webapp/Newspaper/Newspaper.jsp -text
src/main/webapp/Newspaper/NewspaperList.jsp -text
src/main/webapp/NlmClassification/NlmClassification.jsp -text
src/main/webapp/NlmClassification/NlmClassificationList.jsp -text
src/main/webapp/NlmShelfMark/NlmShelfMark.jsp -text
src/main/webapp/NlmShelfMark/NlmShelfMarkList.jsp -text
src/main/webapp/NonSortElement/NonSortElement.jsp -text
src/main/webapp/NonSortElement/NonSortElementList.jsp -text
src/main/webapp/NotatedMovement/NotatedMovement.jsp -text
src/main/webapp/NotatedMovement/NotatedMovementList.jsp -text
src/main/webapp/NotatedMusic/NotatedMusic.jsp -text
src/main/webapp/NotatedMusic/NotatedMusicList.jsp -text
src/main/webapp/OclcIdentifier/OclcIdentifier.jsp -text
src/main/webapp/OclcIdentifier/OclcIdentifierList.jsp -text
src/main/webapp/Organization/Organization.jsp -text
src/main/webapp/Organization/OrganizationList.jsp -text
src/main/webapp/Organization/altOrganization.jsp -text
src/main/webapp/PartNameElement/PartNameElement.jsp -text
src/main/webapp/PartNameElement/PartNameElementList.jsp -text
src/main/webapp/PartNumberElement/PartNumberElement.jsp -text
src/main/webapp/PartNumberElement/PartNumberElementList.jsp -text
src/main/webapp/PerformerContribution/PerformerContribution.jsp -text
src/main/webapp/PerformerContribution/PerformerContributionList.jsp -text
src/main/webapp/Periodical/Periodical.jsp -text
src/main/webapp/Periodical/PeriodicalList.jsp -text
src/main/webapp/PeriodicalPart/PeriodicalPart.jsp -text
src/main/webapp/PeriodicalPart/PeriodicalPartList.jsp -text
src/main/webapp/Person/Person.jsp -text
src/main/webapp/Person/PersonList.jsp -text
src/main/webapp/Person/altPerson.jsp -text
src/main/webapp/Policy/Policy.jsp -text
src/main/webapp/Policy/PolicyList.jsp -text
src/main/webapp/PolicySet/PolicySet.jsp -text
src/main/webapp/PolicySet/PolicySetList.jsp -text
src/main/webapp/PostalRegistrationNumber/PostalRegistrationNumber.jsp -text
src/main/webapp/PostalRegistrationNumber/PostalRegistrationNumberList.jsp -text
src/main/webapp/Print/Print.jsp -text
src/main/webapp/Print/PrintList.jsp -text
src/main/webapp/ProducerProvision/ProducerProvision.jsp -text
src/main/webapp/ProducerProvision/ProducerProvisionList.jsp -text
src/main/webapp/Provision/Provision.jsp -text
src/main/webapp/Provision/ProvisionList.jsp -text
src/main/webapp/PublisherNumber/PublisherNumber.jsp -text
src/main/webapp/PublisherNumber/PublisherNumberList.jsp -text
src/main/webapp/PublisherProvision/PublisherProvision.jsp -text
src/main/webapp/PublisherProvision/PublisherProvisionList.jsp -text
src/main/webapp/RWO/RWO.jsp -text
src/main/webapp/RWO/RWOList.jsp -text
src/main/webapp/RunningTitle/RunningTitle.jsp -text
src/main/webapp/RunningTitle/RunningTitleList.jsp -text
src/main/webapp/Serial/Serial.jsp -text
src/main/webapp/Serial/SerialList.jsp -text
src/main/webapp/Series/Series.jsp -text
src/main/webapp/Series/SeriesList.jsp -text
src/main/webapp/ShelfMark/ShelfMark.jsp -text
src/main/webapp/ShelfMark/ShelfMarkList.jsp -text
src/main/webapp/Sici/Sici.jsp -text
src/main/webapp/Sici/SiciList.jsp -text
src/main/webapp/SourceStatus/SourceStatus.jsp -text
src/main/webapp/SourceStatus/SourceStatusList.jsp -text
src/main/webapp/SpineTitle/SpineTitle.jsp -text
src/main/webapp/SpineTitle/SpineTitleList.jsp -text
src/main/webapp/StillImage/StillImage.jsp -text
src/main/webapp/StillImage/StillImageList.jsp -text
src/main/webapp/StockNumber/StockNumber.jsp -text
src/main/webapp/StockNumber/StockNumberList.jsp -text
src/main/webapp/Strn/Strn.jsp -text
src/main/webapp/Strn/StrnList.jsp -text
src/main/webapp/StudyNumber/StudyNumber.jsp -text
src/main/webapp/StudyNumber/StudyNumberList.jsp -text
src/main/webapp/SubTitleElement/SubTitleElement.jsp -text
src/main/webapp/SubTitleElement/SubTitleElementList.jsp -text
src/main/webapp/SystemNumber/SystemNumber.jsp -text
src/main/webapp/SystemNumber/SystemNumberList.jsp -text
src/main/webapp/Tactile/Tactile.jsp -text
src/main/webapp/Tactile/TactileList.jsp -text
src/main/webapp/TechnicalReportNumber/TechnicalReportNumber.jsp -text
src/main/webapp/TechnicalReportNumber/TechnicalReportNumberList.jsp -text
src/main/webapp/TemporalEntity/TemporalEntity.jsp -text
src/main/webapp/TemporalEntity/TemporalEntityList.jsp -text
src/main/webapp/Text/Text.jsp -text
src/main/webapp/Text/TextList.jsp -text
src/main/webapp/ThreeDimensionalObject/ThreeDimensionalObject.jsp -text
src/main/webapp/ThreeDimensionalObject/ThreeDimensionalObjectList.jsp -text
src/main/webapp/Title/Title.jsp -text
src/main/webapp/Title/TitleList.jsp -text
src/main/webapp/TitleElement/TitleElement.jsp -text
src/main/webapp/TitleElement/TitleElementList.jsp -text
src/main/webapp/Topic/Topic.jsp -text
src/main/webapp/Topic/TopicList.jsp -text
src/main/webapp/TranslatedTitle/TranslatedTitle.jsp -text
src/main/webapp/TranslatedTitle/TranslatedTitleList.jsp -text
src/main/webapp/TransliteratedTitle/TransliteratedTitle.jsp -text
src/main/webapp/TransliteratedTitle/TransliteratedTitleList.jsp -text
src/main/webapp/UdcClassification/UdcClassification.jsp -text
src/main/webapp/UdcClassification/UdcClassificationList.jsp -text
src/main/webapp/UdcShelfMark/UdcShelfMark.jsp -text
src/main/webapp/UdcShelfMark/UdcShelfMarkList.jsp -text
src/main/webapp/Upc/Upc.jsp -text
src/main/webapp/Upc/UpcList.jsp -text
src/main/webapp/VideoRecordingNumber/VideoRecordingNumber.jsp -text
src/main/webapp/VideoRecordingNumber/VideoRecordingNumberList.jsp -text
src/main/webapp/Work/Work.jsp -text
src/main/webapp/Work/WorkList.jsp -text
src/main/webapp/Work/altWork.jsp -text
src/main/webapp/classHierarchy.jsp -text
src/main/webapp/footer.jsp -text
src/main/webapp/header.jsp -text
src/main/webapp/images/bullet-l1.gif -text
src/main/webapp/index.jsp -text
src/main/webapp/menu.jsp -text
src/main/webapp/resources/style.css -text
src/main/webapp/utility/sparqlDump.jsp -text
src/test/java/edu/uiowa/slis/viva/DemoTest.java -text
src/test/resources/README.txt -text
